<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417213556494-sm4ln4b2s98r8asa39847e8276noq2bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417213556494-sm4ln4b2s98r8asa39847e8276noq2bv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417213556494-aqfopr93cnpel2l9roa7qbr8it17c4vm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4h5D94xBYZ-zrudf_ccNQeIxEe1uoCc</string>
	<key>GCM_SENDER_ID</key>
	<string>417213556494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catziel.id</string>
	<key>PROJECT_ID</key>
	<string>catziel</string>
	<key>STORAGE_BUCKET</key>
	<string>catziel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417213556494:ios:4f00ec5506c8b91c86195f</string>
</dict>
</plist>